<h1 class="text-center">
  Garden Guru
</h1>

<div class="content text-center">
  <p>
    Garden Guru was founded in the early 1900s by a man named Joshua Tucker who had a dream about gardening. Not only did he enjoy gardening for practical reasons such as providing food and resources, but he also simply enjoyed looking at the beautiful forms of life. He especially enjoyed watching them grow. He had faith that other people might feel the same feelings as him so he decided to start a business that provided any and all gardening needs. Today, over 100 years later, Tucker's descendant, also named Josh Tucker, 
  </p>
</div>

<app-about></app-about>