<mat-toolbar color="primary">
  <span>Gardening Guru</span>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button class="nav-btn" routerLink="/home">Home</button>
  <button mat-raised-button class="nav-btn" routerLink="/register">Register</button>
  <button mat-raised-button class="nav-btn" routerLink="/login">Login</button>
  <button mat-raised-button class="nav-btn" routerLink="/about">About</button>
  <button mat-raised-button class="nav-btn" routerLink="/products">Products</button>
</mat-toolbar>
